
    
    
    
    
    
    
    
    <head><META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style style="opacity:0.5">
    html,body {
    background: url(parcel.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    }
    div.a {
    text-align: center;
    }
            </style>
</head><body>
<u style="color:purple">
<h1 style="font-size:400%; color:purple; font-family:verdana;" align="center">Parcels</h1>
</u>
<ul>
<li>
<h2>Parcel - EC2020/00030</h2>
</li>
<ul>
<li>
<p>Production Order ID : 100003363</p>
</li>
<li>
<p>Emission Date: 2020-05-12</p>
</li>
<li>
<p>Execution Prediction Date: 2020-05-14</p>
</li>
<li>
<p>Product:<ul>
<li>
<p>Product ID: 50000106</p>
</li>
<li>
<p>Commercial Code: 123123</p>
</li>
<li>
<p>Brief Description: asdsd</p>
</li>
<li>
<p>Description: dfgdf</p>
</li>
<li>
<p>Unit: g</p>
</li>
<li>
<p>Product Category: asd</p>
</li>
<li>
<p>
            Production Form: no production form</p>
</li>
</ul>
</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Quantity: 65000.0</p>
</li>
<li>
<p>Production Order State: PENDING</p>
</li>
</ul>
<hr>
<ul>
<li>
<p>Production Order ID : 100003364</p>
</li>
<li>
<p>Emission Date: 2020-05-12</p>
</li>
<li>
<p>Execution Prediction Date: 2020-05-15</p>
</li>
<li>
<p>Product:<ul>
<li>
<p>Product ID: 1600016</p>
</li>
<li>
<p>Commercial Code: 320030000049</p>
</li>
<li>
<p>Brief Description: Ladrilhos</p>
</li>
<li>
<p>Description: Ladrilhos</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Category: ME-OA</p>
</li>
<li>
<p>
            Production Form: no production form</p>
</li>
</ul>
</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Quantity: 200000.0</p>
</li>
<li>
<p>Production Order State: PENDING</p>
</li>
</ul>
<hr>
</ul>
<hr>
<ul>
<li>
<h2>Parcel - EC2020/00031</h2>
</li>
<ul>
<li>
<p>Production Order ID : 100003365</p>
</li>
<li>
<p>Emission Date: 2020-05-12</p>
</li>
<li>
<p>Execution Prediction Date: 2020-05-16</p>
</li>
<li>
<p>Product:<ul>
<li>
<p>Product ID: 1600017</p>
</li>
<li>
<p>Commercial Code: 320030000050</p>
</li>
<li>
<p>Brief Description: Laminas Corti&Atilde;&sect;a Nat.</p>
</li>
<li>
<p>Description: Laminas Corti&Atilde;&sect;a Nat.</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Category: ME-OA</p>
</li>
<li>
<p>
            Production Form: no production form</p>
</li>
</ul>
</p>
</li>
<li>
<p>Unit: </p>
</li>
<li>
<p>Product Quantity: 64654.0</p>
</li>
<li>
<p>Production Order State: PENDING</p>
</li>
</ul>
<hr>
</ul>
<hr>
<ul>
<li>
<h2>Parcel - EC2020/00032</h2>
</li>
<ul>
<li>
<p>Production Order ID : 100003366</p>
</li>
<li>
<p>Emission Date: 2020-05-12</p>
</li>
<li>
<p>Execution Prediction Date: 2020-05-17</p>
</li>
<li>
<p>Product:<ul>
<li>
<p>Product ID: 1600018</p>
</li>
<li>
<p>Commercial Code: 320030000051</p>
</li>
<li>
<p>Brief Description: M&Atilde;&iexcl;quinas</p>
</li>
<li>
<p>Description: M&Atilde;&iexcl;quinas</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Category: ME-OA</p>
</li>
<li>
<p>
            Production Form: no production form</p>
</li>
</ul>
</p>
</li>
<li>
<p>Unit: </p>
</li>
<li>
<p>Product Quantity: 21234.0</p>
</li>
<li>
<p>Production Order State: PENDING</p>
</li>
</ul>
<hr>
</ul>
<hr>
<ul>
<li>
<h2>Parcel - EC2020/00033</h2>
</li>
<ul>
<li>
<p>Production Order ID : 100003364</p>
</li>
<li>
<p>Emission Date: 2020-05-12</p>
</li>
<li>
<p>Execution Prediction Date: 2020-05-15</p>
</li>
<li>
<p>Product:<ul>
<li>
<p>Product ID: 1600016</p>
</li>
<li>
<p>Commercial Code: 320030000049</p>
</li>
<li>
<p>Brief Description: Ladrilhos</p>
</li>
<li>
<p>Description: Ladrilhos</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Category: ME-OA</p>
</li>
<li>
<p>
            Production Form: no production form</p>
</li>
</ul>
</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Quantity: 200000.0</p>
</li>
<li>
<p>Production Order State: PENDING</p>
</li>
</ul>
<hr>
<ul>
<li>
<p>Production Order ID : 100003367</p>
</li>
<li>
<p>Emission Date: 2020-05-12</p>
</li>
<li>
<p>Execution Prediction Date: 2020-05-18</p>
</li>
<li>
<p>Product:<ul>
<li>
<p>Product ID: 1600019</p>
</li>
<li>
<p>Commercial Code: 320030000052</p>
</li>
<li>
<p>Brief Description: Materiais Corkwall</p>
</li>
<li>
<p>Description: Materiais Corkwall</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Category: ME-OA</p>
</li>
<li>
<p>
            Production Form: no production form</p>
</li>
</ul>
</p>
</li>
<li>
<p>Unit: </p>
</li>
<li>
<p>Product Quantity: 234.0</p>
</li>
<li>
<p>Production Order State: PENDING</p>
</li>
</ul>
<hr>
</ul>
<hr>
<ul>
<li>
<h2>Parcel - EC2020/00034</h2>
</li>
<ul>
<li>
<p>Production Order ID : 100003368</p>
</li>
<li>
<p>Emission Date: 2020-05-12</p>
</li>
<li>
<p>Execution Prediction Date: 2020-05-19</p>
</li>
<li>
<p>Product:<ul>
<li>
<p>Product ID: 1600020</p>
</li>
<li>
<p>Commercial Code: 320030000053</p>
</li>
<li>
<p>Brief Description: Materiais Dyncork</p>
</li>
<li>
<p>Description: Materiais Dyncork</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Category: ME-OA</p>
</li>
<li>
<p>
            Production Form: no production form</p>
</li>
</ul>
</p>
</li>
<li>
<p>Unit: </p>
</li>
<li>
<p>Product Quantity: 1.23123123E8</p>
</li>
<li>
<p>Production Order State: PENDING</p>
</li>
</ul>
<hr>
</ul>
<hr>
<ul>
<li>
<h2>Parcel - EC2020/00035</h2>
</li>
<ul>
<li>
<p>Production Order ID : 100003366</p>
</li>
<li>
<p>Emission Date: 2020-05-12</p>
</li>
<li>
<p>Execution Prediction Date: 2020-05-17</p>
</li>
<li>
<p>Product:<ul>
<li>
<p>Product ID: 1600018</p>
</li>
<li>
<p>Commercial Code: 320030000051</p>
</li>
<li>
<p>Brief Description: M&Atilde;&iexcl;quinas</p>
</li>
<li>
<p>Description: M&Atilde;&iexcl;quinas</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Category: ME-OA</p>
</li>
<li>
<p>
            Production Form: no production form</p>
</li>
</ul>
</p>
</li>
<li>
<p>Unit: </p>
</li>
<li>
<p>Product Quantity: 21234.0</p>
</li>
<li>
<p>Production Order State: PENDING</p>
</li>
</ul>
<hr>
<ul>
<li>
<p>Production Order ID : 100003369</p>
</li>
<li>
<p>Emission Date: 2020-05-12</p>
</li>
<li>
<p>Execution Prediction Date: 2020-05-20</p>
</li>
<li>
<p>Product:<ul>
<li>
<p>Product ID: 1600021</p>
</li>
<li>
<p>Commercial Code: 320030000054</p>
</li>
<li>
<p>Brief Description: Muro Sil&Atilde;&ordf;ncio</p>
</li>
<li>
<p>Description: Muro Sil&Atilde;&ordf;ncio</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Category: ME-OA</p>
</li>
<li>
<p>
            Production Form: no production form</p>
</li>
</ul>
</p>
</li>
<li>
<p>Unit: </p>
</li>
<li>
<p>Product Quantity: 634654.0</p>
</li>
<li>
<p>Production Order State: PENDING</p>
</li>
</ul>
<hr>
</ul>
<hr>
<ul>
<li>
<h2>Parcel - EC2020/00036</h2>
</li>
<ul>
<li>
<p>Production Order ID : 100003370</p>
</li>
<li>
<p>Emission Date: 2020-05-12</p>
</li>
<li>
<p>Execution Prediction Date: 2020-05-21</p>
</li>
<li>
<p>Product:<ul>
<li>
<p>Product ID: 1600022</p>
</li>
<li>
<p>Commercial Code: 320030000055</p>
</li>
<li>
<p>Brief Description: Or&Atilde;&sect;amento</p>
</li>
<li>
<p>Description: Or&Atilde;&sect;amento</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Category: ME-OA</p>
</li>
<li>
<p>
            Production Form: no production form</p>
</li>
</ul>
</p>
</li>
<li>
<p>Unit: </p>
</li>
<li>
<p>Product Quantity: 1241234.0</p>
</li>
<li>
<p>Production Order State: PENDING</p>
</li>
</ul>
<hr>
<ul>
<li>
<p>Production Order ID : 100003372</p>
</li>
<li>
<p>Emission Date: 2020-05-12</p>
</li>
<li>
<p>Execution Prediction Date: 2020-05-23</p>
</li>
<li>
<p>Product:<ul>
<li>
<p>Product ID: 1600024</p>
</li>
<li>
<p>Commercial Code: 320030000057</p>
</li>
<li>
<p>Brief Description: Parquet Flutuante</p>
</li>
<li>
<p>Description: Parquet Flutuante</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Category: ME-OA</p>
</li>
<li>
<p>
            Production Form: no production form</p>
</li>
</ul>
</p>
</li>
<li>
<p>Unit: </p>
</li>
<li>
<p>Product Quantity: 53453.0</p>
</li>
<li>
<p>Production Order State: PENDING</p>
</li>
</ul>
<hr>
</ul>
<hr>
<ul>
<li>
<h2>Parcel - EC2020/00037</h2>
</li>
<ul>
<li>
<p>Production Order ID : 100003371</p>
</li>
<li>
<p>Emission Date: 2020-05-12</p>
</li>
<li>
<p>Execution Prediction Date: 2020-05-22</p>
</li>
<li>
<p>Product:<ul>
<li>
<p>Product ID: 1600023</p>
</li>
<li>
<p>Commercial Code: 320030000056</p>
</li>
<li>
<p>Brief Description: Parquet</p>
</li>
<li>
<p>Description: Parquet</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Category: ME-OA</p>
</li>
<li>
<p>
            Production Form: no production form</p>
</li>
</ul>
</p>
</li>
<li>
<p>Unit: </p>
</li>
<li>
<p>Product Quantity: 123123.0</p>
</li>
<li>
<p>Production Order State: PENDING</p>
</li>
</ul>
<hr>
</ul>
<hr>
<ul>
<li>
<h2>Parcel - EC2020/00038</h2>
</li>
<ul>
<li>
<p>Production Order ID : 100003372</p>
</li>
<li>
<p>Emission Date: 2020-05-12</p>
</li>
<li>
<p>Execution Prediction Date: 2020-05-23</p>
</li>
<li>
<p>Product:<ul>
<li>
<p>Product ID: 1600024</p>
</li>
<li>
<p>Commercial Code: 320030000057</p>
</li>
<li>
<p>Brief Description: Parquet Flutuante</p>
</li>
<li>
<p>Description: Parquet Flutuante</p>
</li>
<li>
<p>Unit: UN</p>
</li>
<li>
<p>Product Category: ME-OA</p>
</li>
<li>
<p>
            Production Form: no production form</p>
</li>
</ul>
</p>
</li>
<li>
<p>Unit: </p>
</li>
<li>
<p>Product Quantity: 53453.0</p>
</li>
<li>
<p>Production Order State: PENDING</p>
</li>
</ul>
<hr>
</ul>
<hr>
</body>
